<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Users</title>
</head>

<body>

	<h1>Users</h1>
	<div th:if="${#lists.size(users) == 1}">
		<form th:action="@{/users/{userId}(userId=${user.userId})}" method="post">

			<div>
				Username: <input type="text" th:field="${user.username}" />
			</div>
			<div>
				Password: <input type="password" th:field="${user.password}" />
			</div>
			<div>
				Full Name: <input type="text" th:field="${user.name}" />
			</div>
			<hr>
	<h2>Address</h2>
			<div>
				Address Line 1: <input type="text" th:field="${user.address.addressLine1}" />
			</div>
			<div>
				Address Line 2: <input type="text" th:field="${user.address.addressLine2}" />
			</div>
			<div>
				City: <input type="text" th:field="${user.address.city}" />
			</div>
			<div>
				Region: <input type="text" th:field="${user.address.region}" />
			</div>
			<div>
				Country: <input type="text" th:field="${user.address.country}" />
			</div>
			<div>
				Zip Code: <input type="text" th:field="${user.address.zipCode}" />
			</div>

			<div>
				<input type="submit" value="Update User Account" />
			</div>
		</form>
		<form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
			<input type="submit" value="Delete User Account" />
		</form>
	</div>
	<hr>
	<div th:if="${#lists.size(users) == 1}">
		<h2>Accounts</h2>
		<div th:each="account : ${user.accounts}">
			<span><a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}"
					th:text="${account.accountName}">Account # </a></span>
		</div>
		<form th:action="@{/users/{userId}/accounts(userId=${user.userId})}" method="post">
			<div>
				<input type="submit" value="Create Account" />
			</div>
		</form>
		<a href="/users">Back</a>
	</div>

	<div th:each="user : ${users}" th:if="${#lists.size(users) != 1}">
		<span></span><a th:href="@{/users/{userId}(userId=${user.userId})}">[[${user.userId}]]</a><br />
		<span th:text="${user.username}"></span><br />
		<span th:text="${user.name}"></span><br />
		<span th:text="${user.password}"></span>
		<div th:each="account : ${user.accounts}">
			<span><a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}">[[${account.accountName}]]</a></span>
		</div>
		<hr />
	</div>

</body>

</html>